@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    --line-color: #e5e7eb
}

html.dark {
    --line-color: rgba(255,255,255, 0.2)
}

.borderBlack {
    @apply border border-black/10
}


@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
